<!--header-->
<div>
  <div class="header columns">
    <div class="column is-four-fifths title" style="padding-top: 35px">
      dispatch planner
    </div>
    <div
      class="column"
      style="padding-top: 45px; padding-right: 40px; text-align: right"
    >
      Privacy Policy
    </div>
  </div>
  <!--main-->
  <div style="padding: 20px; font-size: 25px">
    <strong> Freight Planning</strong>
    <br />
    <p style="text-align: center"><strong> Freight Order 41000518 </strong></p>
  </div>
  <br />
  <div
    class="centered-content columns"
    style="background-color: rgb(8, 51, 51)"
  >
    <!--table-->
    <div style="text-align: center">
      <table class="table">
        <thead>
          <tr>
            <th>Line Item</th>
            <th>Delivery Order</th>
            <th>Material No</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Overall Weight</th>
            <th>Required Truck</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>10</td>
            <td>805612768</td>
            <td>CBT-001-9082</td>
            <td>xxyy</td>
            <td>100</td>
            <td>100</td>
            <td></td>
          </tr>
          <tr>
            <td>20</td>
            <td>805612769</td>
            <td>CBT-001-9082</td>
            <td>xxyy</td>
            <td>100</td>
            <td>100</td>
            <td></td>
          </tr>
          <tr>
            <td>30</td>
            <td>805612770</td>
            <td>CBT-001-9082</td>
            <td>xxyy</td>
            <td>100</td>
            <td>100</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div style="padding-right: 20px">
    <button
      style="position: absolute; right: 70px"
      class="button is-success"
      routerLink="/foplanning-s2"
    >
      Truck Availabilty
    </button>
  </div>
</div>
