<!--header-->
<div>
  <div class="header columns">
    <div class="column is-four-fifths title" style="padding-top: 35px">
      dispatch planner
    </div>
    <div
      class="column"
      style="padding-top: 45px; padding-right: 40px; text-align: right"
    >
      Privacy Policy
    </div>
  </div>
  <!--main-->
  <div class="centered-content columns" style="background-color: azure">
    <!--image-->
    <div class="column">
      <img src="../../../assets/logo.png" />
    </div>
    <!--login-->
    <div class="column login-signup" style="background-color: azure">
      <!--Login/Signup link-->
      <div class="columns" style="font-size: 35px">
        <a class="column" routerLink="/login-page">Login</a>
        <h3 class="column"><strong>Signup</strong></h3>
      </div>
      <br />
      <!--name-->
      <div class="field">
        <p class="control columns">
          <input class="input column" type="text" placeholder="First name" />
          &nbsp;
          <input class="input column" type="text" placeholder="Middle name" />
          &nbsp;
          <input class="input column" type="text" placeholder="Last name" />
        </p>
      </div>
      <br />
      <!--username-->
      <div class="field">
        <p class="control">
          <input class="input" type="text" placeholder="username" />
        </p>
      </div>
      <!--mobile-->
      <div class="field">
        <p class="control">
          <input class="input" type="integer" placeholder="mobile" />
        </p>
      </div>

      <!--email-->
      <div class="field">
        <p class="control">
          <input class="input" type="email" placeholder="Email" />
        </p>
      </div>
      <!--password-->
      <div class="field">
        <p class="control">
          <input class="input" type="password" placeholder="Password" />
        </p>
      </div>
      <div class="field">
        <p class="control">
          <input class="input" type="password" placeholder="Confirm Password" />
        </p>
      </div>
      <!--login button-->
      <div class="field">
        <p class="control">
          <button class="button is-success">Signup</button>
        </p>
      </div>
    </div>
  </div>
</div>
