<!--header-->
<div>
  <div class="header columns">
    <div class="column is-four-fifths title" style="padding-top: 35px">
      dispatch planner
    </div>
    <div
      class="column"
      style="padding-top: 45px; padding-right: 40px; text-align: right"
    >
      Privacy Policy
    </div>
  </div>
  <!--main-->
  <div style="text-align: center; padding: 20px; font-size: 25px">
    <strong> Freight Order Creation</strong>
    <div>
      <button style="position: absolute; right: 70px" class="button is-success">
        OPTIMIZE PLANNING</button
      ><br />
    </div>
  </div>
  <br />
  <div
    class="centered-content columns"
    style="background-color: rgb(8, 51, 51)"
  >
    <!--table-left-->
    <div style="text-align: center">
      <form>
        <table class="table">
          <thead>
            <tr>
              <th>CheckBox</th>
              <th>Date</th>
              <th>Delivery No</th>
              <th>Material</th>
              <th>quantity</th>
              <th>UOM</th>
              <th>WT Unit</th>
              <th>Overall weight</th>
              <th>Sold to party</th>
              <th>Payer</th>
              <th>Destination</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <label class="checkbox">
                <input type="checkbox" />
              </label>
              <td>17-12-2020</td>
              <td>7457883</td>
              <td>CBT-001-3458</td>
              <td>10</td>
              <td>KG</td>
              <td>20</td>
              <td>200</td>
              <td>110044</td>
              <td>110044</td>
              <td>Madurai</td>
            </tr>
            <tr>
              <label class="checkbox">
                <input type="checkbox" />
              </label>
              <td>17-12-2020</td>
              <td>7456890</td>
              <td>CBT-001-9182</td>
              <td>15</td>
              <td>KG</td>
              <td>10</td>
              <td>150</td>
              <td>110010</td>
              <td>110010</td>
              <td>Coimbatore</td>
            </tr>
            <tr>
              <label class="checkbox">
                <input type="checkbox" />
              </label>
              <td>17-12-2020</td>
              <td>7456923</td>
              <td>CBT-001-9082</td>
              <td>5</td>
              <td>KG</td>
              <td>20</td>
              <td>1000</td>
              <td>117510</td>
              <td>117510</td>
              <td>Cuddalore</td>
            </tr>
            <tr>
              <label class="checkbox">
                <input type="checkbox" />
              </label>
              <td>17-12-2020</td>
              <td>7447883</td>
              <td>CBT-001-7032</td>
              <td>20</td>
              <td>KG</td>
              <td>10</td>
              <td>2000</td>
              <td>146010</td>
              <td>146010</td>
              <td>Pudhucherry</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
