<!--header-->
<div>
  <div class="header columns">
    <div class="column is-four-fifths title" style="padding-top: 35px">
      dispatch planner
    </div>
    <div
      class="column"
      style="padding-top: 45px; padding-right: 40px; text-align: right"
    >
      Privacy Policy
    </div>
  </div>
  <!--main-->
  <div style="padding: 20px; font-size: 25px">
    <strong> Freight Order Creation</strong>
  </div>
  <br />
  <div
    class="centered-content columns"
    style="background-color: rgb(8, 51, 51)"
  >
    <!--table-->
    <div style="text-align: center">
      <table class="table">
        <thead>
          <tr>
            <th>Check box field</th>
            <th>Date</th>
            <th>Del.No</th>
            <th>Material</th>
            <th>Quantity</th>
            <th>Weight unit</th>
            <th>Sold to party</th>
            <th>Destination</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>*</th>
            <td>28/02/2021</td>
            <td>805612768</td>
            <td>CBT0001-9982</td>
            <td>10 kgs</td>
            <td>100</td>
            <td>111001</td>
            <td>USA</td>
          </tr>
          <tr>
            <th>*</th>
            <td>28/02/2021</td>
            <td>805612769</td>
            <td>CBT0001-9983</td>
            <td>15 kgs</td>
            <td>150</td>
            <td>112002</td>
            <td>UK</td>
          </tr>
          <tr>
            <th>*</th>
            <td>01/03/2021</td>
            <td>805612770</td>
            <td>CBT0001-9991</td>
            <td>17 kgs</td>
            <td>170</td>
            <td>113003</td>
            <td>INDIA</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
