<!--header-->
<div>
  <div class="header columns">
    <div class="column is-four-fifths title" style="padding-top: 35px">
      dispatch planner
    </div>
    <div
      class="column"
      style="padding-top: 45px; padding-right: 40px; text-align: right"
    >
      Privacy Policy
    </div>
  </div>
  <!--main-->
  <div style="padding: 20px; font-size: 25px">
    <strong> Freight Planning</strong>
  </div>
  <br />
  <div
    class="centered-content columns"
    style="background-color: rgb(8, 51, 51)"
  >
    <!--table-->
    <div style="text-align: center">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>Freight Order</th>
            <th>Status</th>
            <th>Source location</th>
            <th>Destination</th>
            <th>Departure date</th>
            <th>Departure time</th>
            <th>Planned delivery date</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let data of fplan_s1_data">
          <tr>
            <label class="checkbox">
              <input type="checkbox" />
            </label>
            <td>{{ data["freightOrderNumber"] }}</td>
            <td>{{ data["status"] }}</td>
            <td>{{ data["sourceLocation"] }}</td>
            <td>{{ data["destination"] }}</td>
            <td>{{ data["departureDateTime"] }}</td>
            <td>{{ data["departureDateTime"] }}</td>
            <td>{{ data["plannedDeliveryDate"] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div>
    <button
      style="position: absolute; right: 70px"
      class="button is-success"
      routerLink="/fplanning-s2"
    >
      FREIGHT PLANNER
    </button>
  </div>
</div>
