<!--Header-->
<div>
  <div class="header columns">
    <div class="column is-four-fifths title" style="padding-top: 35px">
      dispatch planner
    </div>
    <div
      class="column"
      style="padding-top: 45px; padding-right: 40px; text-align: right"
    >
      Privacy Policy
    </div>
  </div>
  <!--main-->
  <div class="centered-content columns" style="background-color: azure">
    <!--image-->
    <div class="column">
      <img src="../../../assets/logo.png" />
    </div>
    <!--login-->
    <div class="column login-signup" style="background-color: azure">
      <!--Login/Signup link-->
      <div class="columns" style="font-size: 35px">
        <h3 class="column"><strong>Login</strong></h3>
        <a class="column" routerLink="/signup-page">Signup</a>
      </div>
      <br />
      <!--email-->
      <div class="field">
        <p class="control has-icons-left has-icons-right">
          <input #emailInput class="input" type="email" placeholder="Email" />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <!--password-->
      <div class="field">
        <p class="control has-icons-left">
          <input
            #passwordInput
            class="input"
            type="password"
            placeholder="Password"
          />
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <br />
      <!--login button-->
      <div class="field">
        <p class="control">
          <button
            class="button is-success"
            (click)="
              onLoginButtonClicked(emailInput.value, passwordInput.value)
            "
          >
            Login
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
